@main("BBS") {
    <script src="@routes.Assets.at("javascripts/app/controllers/ArticleCtrl.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/app/repositories/ArticleRepository.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/app/models/Article.js")" type="text/javascript"></script>
    <div ng-controller="ArticleCtrl">
        <div ng-init="init()">
            <h2>Article list</h2>
            <div ng-repeat="article in articles">
                <h3><a href="/article/view/{{article.id}}">{{article.title}}</a></h3>
                <i>Author: {{article.email}}</i>
                <p>{{article.content}}</p>
                <br/>
            </div>

        </div>
        @components.article_add()
    </div>
}